Repository wangzitian0/my_finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: common-module-tests, common-test-structure

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-merge-conflict

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    files: ^(common|tests)/.*\.py$

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    files: ^(common|tests)/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(common|tests)/.*\.py$
    args: ['--max-line-length=100', '--extend-ignore=E203,W503']

- repo: local
  hooks:
  - id: common-module-tests
    name: Run Common Module Tests
    entry: python common/tests/pytest_runner.py --coverage --target 75
    language: system
    files: ^common/.*\.py$
    pass_filenames: false
    stages: [commit]
    
  - id: common-test-structure
    name: Validate Test Structure
    entry: python common/tests/pytest_runner.py --check
    language: system
    files: ^common/tests/.*$
    pass_filenames: false
    stages: [commit]

feat: centralize ETL configuration system with orthogonal dimensions (Issue #278) (#280)
  CLAUDE.md
  ETL/build_dataset.py
  ETL/tests/test_config.py
  common/README.md
  common/config/README.md
  common/config/etl/README.md
  common/config/etl/scenario_dev.yml
  common/config/etl/scenario_prod.yml
  common/config/etl/source_sec_edgar.yml
  common/config/etl/source_yfinance.yml
  common/config/etl/stock_f2.yml
  common/config/etl/stock_m7.yml
  common/config/etl/stock_n100.yml
  common/config/etl/stock_v3k.yml
  common/config/list_fast_2.yml
  common/config/list_magnificent_7.yml
  common/config/list_nasdaq_100.yml
  common/config/sec_edgar_f2.yml
  common/config/sec_edgar_m7.yml
  common/config/sec_edgar_n100.yml
  common/config/sec_edgar_v3k.yml
  common/config/stage_00_original_sec_edgar.yml
  common/config/stage_00_original_yfinance.yml
  common/config/stock_lists/v3k.yml
  common/etl_loader.py
  infra/scripts/README.md
  infra/scripts/config/check_etl_config.py
  infra/scripts/config/check_n100.py
  infra/scripts/config/check_v3k.py
  infra/scripts/examples/etl_config_example.py
  infra/scripts/migrate_etl_config.py
  tests/README.md
  tests/config/test_orthogonal_config.py.disabled
  tests/test_etl_config.py
  tests/test_unified_config_system.py
  tests/test_unified_config_system.py.disabled
Due: common-module-tests

Standardize GitHub labels according to Issue #279 module architecture
  .github/ISSUE_LABELING.md
  .github/workflows/auto-label-issues.yml
Due: none

Configure Claude Code hooks for centralized agent execution monitoring
  .claude/settings.json
  .clauderc
  CLAUDE.md
  common/agents/hrbp_performance_manager.py
  common/core/config_manager.py
  common/monitoring/test_hooks_basic.py
  tests/__init__.py
  tests/config/__init__.py
  tests/config_schema_validator.py
  tests/conftest.py
  tests/database/__init__.py
  tests/database/test_neo4j_connectivity.py
  tests/e2e/test_module_integration.py
  tests/e2e/test_user_cases.py
  tests/test_basic_structure.py
  tests/test_ci_validation.py
  tests/test_common_modules.py
  tests/test_dataset_integrity.py
  tests/test_dcf_engine.py
  tests/test_directory_structure_protection.py
  tests/test_etl_config.py
  tests/test_etl_modules.py
  tests/test_graph_rag_integration.py
  tests/test_hang.py
  tests/test_multi_model_dcf.py
  tests/test_p3_commands.py
  tests/test_parallel_optimization.py
  tests/test_release_manager.py
  tests/test_subtree_migration_simple.py
Due: common-module-tests

Format code with black and isort
  common/monitoring/test_hooks_basic.py
  tests/test_unified_config_system.py.disabled
Due: common-module-tests

Standardize GitHub labels according to Issue #279 module architecture (#286)
  .github/ISSUE_LABELING.md
  .github/workflows/auto-label-issues.yml
Due: none

Configure Claude Code hooks for agent execution monitoring
  .claude/settings.json
  .clauderc
  CLAUDE.md
  common/agents/hrbp_performance_manager.py
  common/core/config_manager.py
  common/monitoring/test_hooks_basic.py
Due: common-module-tests

Configure Claude Code hooks for agent execution monitoring (#287)
  .claude/settings.json
  .clauderc
  CLAUDE.md
  common/agents/hrbp_performance_manager.py
  common/core/config_manager.py
  common/monitoring/test_hooks_basic.py
Due: common-module-tests

Fix post-merge hook and correct p3 debug references
  .claude/agents/git-ops-agent.md
  .claude/agents/infra-ops-agent.md
  CLAUDE.md
  README.md
  infra/README.md
  infra/git-ops/cleanup_merged_branches.py
  infra/p3/README.md
Due: none

Fix duplicate p3 reset entries in README.md
  README.md
Due: none

Fix post-merge hook and correct p3 debug references in docs (Issue #129) (#289)
  .claude/agents/git-ops-agent.md
  .claude/agents/infra-ops-agent.md
  CLAUDE.md
  README.md
  infra/README.md
  infra/git-ops/cleanup_merged_branches.py
  infra/p3/README.md
Due: none

fix: post-merge workflow & enhance CLAUDE.md checklist (Issue #129)
  .github/workflows/claude-code-review.yml
  .github/workflows/post-merge-analysis.yml
  .gitignore
  CLAUDE.md
  build_data/logs/claude_hooks/.gitignore
  build_data/logs/claude_hooks/README.md
Due: none

optimize: further streamline post-merge & PR workflows (Issue #129)
  .github/workflows/claude-code-review.yml
  .github/workflows/post-merge-analysis.yml
  CLAUDE.md
Due: none

optimize: further streamline post-merge & PR workflows (Issue #129) (#290)
  .github/workflows/claude-code-review.yml
  .github/workflows/post-merge-analysis.yml
  .gitignore
  CLAUDE.md
  build_data/logs/claude_hooks/.gitignore
  build_data/logs/claude_hooks/README.md
Due: none

fix: post-merge workflow & enhance CLAUDE.md checklist (Issue #129)
  .github/workflows/claude-code-review.yml
  .github/workflows/post-merge-analysis.yml
  CLAUDE.md
Due: none

fix: post-merge workflow unsupported event type (Issue #129)
  .github/workflows/post-merge-analysis.yml
Due: none

fix: CI workflow improvements and post-merge analysis enhancements (Issue #129) (#292)
  .github/workflows/post-merge-analysis.yml
  CLAUDE.md
Due: none

feat: focused root cleanup and testing architecture (Issue #282)
  .gitignore
  CLAUDE.md
  README.md
  common/data/quality_reports/20250916_202304/build_quality_summary.json
  common/data/quality_reports/20250916_202304/build_quality_summary.md
  common/data/quality_reports/20250916_202304/complete_build_quality.json
  common/data/quality_reports/20250916_202304/stage_01_extract_quality_report.json
  common/data/quality_reports/20250916_202304/stage_01_extract_quality_report.md
  common/data/quality_reports/20250916_202304/stage_02_transform_quality_report.json
  common/data/quality_reports/20250916_202304/stage_02_transform_quality_report.md
  common/data/quality_reports/20250916_202304/stage_03_load_quality_report.json
  common/data/quality_reports/20250916_202304/stage_03_load_quality_report.md
  common/data/quality_reports/20250916_202311/build_quality_summary.json
  common/data/quality_reports/20250916_202311/build_quality_summary.md
  common/data/quality_reports/20250916_202311/complete_build_quality.json
  common/data/quality_reports/20250916_202311/stage_01_extract_quality_report.json
  common/data/quality_reports/20250916_202311/stage_01_extract_quality_report.md
  common/data/quality_reports/20250916_202311/stage_02_transform_quality_report.json
  common/data/quality_reports/20250916_202311/stage_02_transform_quality_report.md
  common/data/quality_reports/20250916_202311/stage_03_load_quality_report.json
  common/data/quality_reports/20250916_202311/stage_03_load_quality_report.md
  common/data/quality_reports/20250916_202311/stage_04_analysis_quality_report.json
  common/data/quality_reports/20250916_202311/stage_04_analysis_quality_report.md
  common/data/quality_reports/20250916_202311/stage_05_reporting_quality_report.json
  common/data/quality_reports/20250916_202311/stage_05_reporting_quality_report.md
  infra/config/README.md
  pytest.ini
  tests/README.md
Due: none

fix: update p3.py test command path to infra/scripts/utilities/
  p3.py
Due: none

fix: correct import path in run_test.py script
  infra/scripts/utilities/run_test.py
Due: none

chore: remove build artifacts from common/data/quality_reports
  common/data/quality_reports/20250916_202304/build_quality_summary.json
  common/data/quality_reports/20250916_202304/build_quality_summary.md
  common/data/quality_reports/20250916_202304/complete_build_quality.json
  common/data/quality_reports/20250916_202304/stage_01_extract_quality_report.json
  common/data/quality_reports/20250916_202304/stage_01_extract_quality_report.md
  common/data/quality_reports/20250916_202304/stage_02_transform_quality_report.json
  common/data/quality_reports/20250916_202304/stage_02_transform_quality_report.md
  common/data/quality_reports/20250916_202304/stage_03_load_quality_report.json
  common/data/quality_reports/20250916_202304/stage_03_load_quality_report.md
  common/data/quality_reports/20250916_202311/build_quality_summary.json
  common/data/quality_reports/20250916_202311/build_quality_summary.md
  common/data/quality_reports/20250916_202311/complete_build_quality.json
  common/data/quality_reports/20250916_202311/stage_01_extract_quality_report.json
  common/data/quality_reports/20250916_202311/stage_01_extract_quality_report.md
  common/data/quality_reports/20250916_202311/stage_02_transform_quality_report.json
  common/data/quality_reports/20250916_202311/stage_02_transform_quality_report.md
  common/data/quality_reports/20250916_202311/stage_03_load_quality_report.json
  common/data/quality_reports/20250916_202311/stage_03_load_quality_report.md
  common/data/quality_reports/20250916_202311/stage_04_analysis_quality_report.json
  common/data/quality_reports/20250916_202311/stage_04_analysis_quality_report.md
  common/data/quality_reports/20250916_202311/stage_05_reporting_quality_report.json
  common/data/quality_reports/20250916_202311/stage_05_reporting_quality_report.md
Due: none

Enhance post-merge analysis with Claude Code AI-powered review (Issue #129)
  .github/workflows/post-merge-analysis.yml
Due: none

Add gitignore patterns for test-generated directories
  .gitignore
Due: none

Enhance post-merge analysis with Claude Code AI-powered comprehensive review (Issue #129) (#293)
  .github/workflows/post-merge-analysis.yml
Due: none

Adjust coverage threshold to realistic 40% for current codebase
  pytest.ini
Due: none

refactor: consolidate and relocate scattered configuration utilities (Issue #282) (#294)
  .gitignore
  CLAUDE.md
  README.md
  infra/config/README.md
  infra/scripts/utilities/run_test.py
  p3.py
  pytest.ini
  tests/README.md
Due: none

refactor: eliminate redundant L1 directories and enforce L1/L2 module principle (Issue #283)
  documentation/__init__.py
  documentation/releases/__init__.py
  infra/README.md
  infra/development/validate_migration_complete.py
  infra/docs/P3_TESTING_STRATEGY.md
  infra/docs/architecture/ARCHITECTURE_NOTE.md
  infra/docs/legacy/CONVERSION_TODO.md
  infra/docs/legacy/ISSUE_122_COMPLETION_SUMMARY.md
  infra/docs/legacy/LEGACY_HRBP-SYSTEM-OVERVIEW.md
  infra/docs/releases/__init__.py
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/README.md
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_fast_2.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_magnificent_7.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_nasdaq_100.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_vti_3500.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/sec_edgar_nasdaq100.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_original_sec_edgar.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_original_yfinance.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_target_pre_pr.yml
  infra/docs/reports/hardcoded_paths_migration_report.md
  infra/p3/p3
  infra/p3/p3.py
  p3
  p3.py
Due: none

feat: enhance CI to run all unit tests and add P3 workflow testing
  .github/workflows/test-common-modules.yml
  p3
  tests/test_p3_workflow.py
Due: none

refactor: remove obsolete releases documentation
  infra/README.md
  infra/docs/releases/__init__.py
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/README.md
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_fast_2.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_magnificent_7.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_nasdaq_100.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/list_vti_3500.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/sec_edgar_nasdaq100.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_original_sec_edgar.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_original_yfinance.yml
  infra/docs/releases/release_M7_Release_SEC_Enhanced_DCF/configs/stage_00_target_pre_pr.yml
Due: none

feat: implement modular testing architecture with p3 test L1/L2 support
  infra/p3/p3.py
  infra/scripts/utilities/run_test.py
  infra/workflows/pr_creation.py
Due: none

fix: update tests to match new stage_XX directory naming convention (Issue #283)
  .coverage.J00K7NCF4L.53253.XvGZsicx
  .coverage.J00K7NCF4L.53254.XcthUIJx
  ETL/tests/test_config.py
  ETL/tests/test_data_structure.py
  common/tests/integration/test_build_system_integration.py
  common/tests/integration/test_directory_manager_integration.py
Due: common-module-tests, common-test-structure

Format code with black and isort
  common/tests/integration/test_build_system_integration.py
  common/tests/integration/test_directory_manager_integration.py
Due: common-module-tests, common-test-structure

chore: clean up test coverage files (Issue #283)
  .coverage.J00K7NCF4L.53253.XvGZsicx
  .coverage.J00K7NCF4L.53254.XcthUIJx
Due: none

Simplify post-merge workflow: Remove unnecessary complexity
  .github/workflows/post-merge-analysis.yml
Due: none

Remove unnecessary backup and analysis-logs files
  .github/analysis-logs/README.md
  .github/workflows/post-merge-analysis.yml.backup
Due: none
